
# Don't save any Python cache files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc
*.pyc
**/*.eqx
**/*.png
**/*.txt
**/*.yaml
site/**
**/egg-info
**/*.vtk
**/*.vtu
**/*.msh
.vscode/*

!demos/hyperelastic/neumann/inputs/*
!demos/prolate_spheroid/configs/*
!docs/tutorials/figures/*